* {
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
}

.game {
  width: 1500px;
  height: 900px;
  margin: 20px auto;
}
